[user]
  email = tlaregaivir@gmail.com
  name = tlareg
[alias]
  st = status
  s = status -sb
  a = add -A
  ci = commit
  cm = commit -m
  wip = commit -m 'WIP'
  cane = commit --amend --no-edit
  pushf = push --force-with-lease
  co = checkout
  br = branch
  rd = pull --rebase origin develop
  conflicts = diff --name-only --diff-filter=U
  unstage = reset HEAD --
  lg = log -5 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --all -15 --graph --abbrev-commit --decorate --pretty=format:'%C(auto)|%h|%C(reset) %C(bold blue)[%ar]%C(reset) %C(bold green)<%an>%C(reset)%C(auto)%d%C(reset) %C(white)%s%C(reset)'
  lg2 = log -15 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lg3 = log -15 --all --decorate --oneline --graph
  la = "!git config -l | grep alias | cut -c 7-"
  all = '!f() { ls -R -d */.git | xargs -I{} bash -c "echo {} && git -C {}/../ $1"; }; f'
